{
  "openapi": "3.0.3",
  "info": {
    "title": "Registry Service Providers API",
    "description": "API for requesting relying party registration data",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://registry.serviceproviders.eudiw.dev/"
    }
  ],
  "paths": {
    "/request_RP_data": {
      "get": {
        "summary": "Request RP Data",
        "description": "Submit relying party registration information using query parameters",
        "operationId": "requestRPData",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name of the wallet-relying party",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registration_number",
            "in": "query",
            "required": false,
            "description": "Official registration number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "privacy_policy_url",
            "in": "query",
            "required": false,
            "description": "Public privacy policy URL",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "entitlement",
            "in": "query",
            "required": false,
            "description": "Requested entitlement or scope",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intermediary_association",
            "in": "query",
            "required": false,
            "description": "Associated intermediary organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acting_on_behalf_of",
            "in": "query",
            "required": false,
            "description": "Entity represented by the requester",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWS JSON serialized signed response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWSFlattened"
                },
                "example": {
                  "payload": "eyJzdGF0dXMiOiJhcHByb3ZlZCIsInJwX2lkIjoiMTIzNDUifQ",
                  "protected": "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9",
                  "signature": "MEYCIQC7..."
                }
              }
            }
          },
          
          "500": {
            "description": "Internal Server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JWSFlattened": {
        "type": "object",
        "required": ["payload", "protected", "signature"],
        "properties": {
          "payload": {
            "type": "string",
            "description": "Base64URL encoded payload (JSON data)"
          },
          "protected": {
            "type": "string",
            "description": "Base64URL encoded protected header (alg, kid, etc)"
          },
          "signature": {
            "type": "string",
            "description": "Base64URL encoded digital signature"
          }
        }
      }
    }
  }
}
